$pokeBlue: #383298;
$pokeLightBlue: #5047d4;
$pokeCelestial: #28aafd;
$pokeDarkCelestial: #1b7ab5;
$white: #fff;
$pokeRed: #d5092b;
$pokeDarkRed: #a1031e;
$grey: #dbdbdb;
$black: #000;
$pokeGreen: #B7CF98;
$pokeGrey: #232323;